body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

div {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    max-width: 700px;
    width: 90%;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

ol {
    margin-left: 20px;
    margin-bottom: 20px;
}
ul, ol {
    margin: 15px 0;
    padding-left: 40px; /* distanza da sinistra per i marker */
    color: #003366;
    font-size: 16px;
}

li {
    margin-bottom: 8px; /* spazio tra gli elementi */
    color: #004080;
    font-weight: bolder;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

table th {
    background-color: #cce0ff;
    color: #003366;
}

table tr:nth-child(even) {
    background-color: #f2f9ff;
}

.formLike{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}